.navbar {
	background-color: rgba(0,0,0,0.1);
}

.navbar-default .navbar-nav>li>a {
	color: #666;
	font-weight: bold;
}

.navbar-default .navbar-nav>li>a:hover {
	font-weight: bolder;
	border-bottom: solid 0.2em #0000CD;
	font-size: 1.5em;
	border-radius: 1em;
	transition: .3s;
}

#vs-sistema a{
	text-decoration: none;
	color: #FFF;
}

#vs-sistema a:hover{
	font-weight: bolder;
	font-size: 1.5em;
	border-radius: 1em;
	transition: .3s;
}

.navbar-default .navbar-brand {
	color: 	#666;
	font-weight: bold;
	text-transform: uppercase;
}

*  {
    margin:0;
    padding:0;
}

html, body {
    height:100%;
}

footer {
    position: relative;
	bottom:0;
	margin-top: 2em;
	width:100%;
}

.content-footer {
	width: 100%;
	background-color: rgba(0, 0, 0, .5);
	height: 4em;
	border-top-right-radius: 0.3em;
	border-top-left-radius: 0.3em;
}

.copy-right {
	width: 100%;
	background-color: rgba(0, 0, 0, 0.2);
	border-bottom-right-radius: 0.3em;
	border-bottom-left-radius: 0.3em;
}

header {
	background-image: url(../img/ze-gotinha.png);
	/*background-repeat: no-repeat;*/
	background-size: contain;
	background-position: top center;
	height: 100%;
}

.sipni-banner {
	color: #FFF;
	background-color: rgba(0, 0, 0, .5);
	padding: 2em;
	width: 80%;
	border-radius: 2.5em;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: .3s;
}

.sipni-banner h2 {
	text-transform: uppercase;
}

.titulo2 {
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
}

.jumbotron-custom .jumbotron {
	background-color: #EEE;
}

.descricao-video {
	padding: 1em;
}

@media(min-width: 768px) {
	#paineis-sobre {
		margin-top: 0;	
	}
}

@media(min-width: 992px) {
	.sipni-banner {
		left: 0;
		transform: translate(0, -80%);
		width: 50%;
	}

	.sipni-bannerWrapper {
		position: relative;
		height: 100%;
	}
}